<div class="jumbotron">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2>Informações da Conta</h2>
        </div>
        <div class="col-md-8 col-md-offset-2 col-xs-12">
            <h3>Nome: <%= @account.name %></h3>
            <h3>Data de Nascimento: <%= @account.birth_date %></h3>
            <h3>Saldo: <%= @account.current_balance %></h3>
            <h3>Conta: <%= @account.account_number %></h3>
            <% if @password %>
            <div class="alert alert-danger" style="text-align: center;">
                <strong>
                    Atenção! Esta é sua senha numérica para acesso à sua conta,
                    por favor grave-a pois não será possível recuperá-la depois!
                </strong>
                <h3>Senha: <%= @password %></h3>
            </div>
            <% end %>
            <a data-toggle="collapse" href="#collapsePhoto">
                <p>Visualizar foto do documento</p>
            </a>
            <div class="collapse" id="collapsePhoto">
                <% if @account.document_photo.attached? %>
                <img src="<%=(url_for(@account.document_photo))%>" class="img-responsive" alt="Responsive image">
                <% end %>
            </div>
        </div>
    </div>
</div>